<!DOCTYPE html>
<html>
  <head>
    <title>River - Let your story flow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- River Stylesheet -->
    <link rel="stylesheet" href="../css/btn.css">
    <link rel="stylesheet" href="../css/storypage.css">

    <!-- IE 8 support -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="navbar-full">
      <div id="navbar">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              </button>
              <a class="navbar-brand" href="../../index.html">河</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="nav-button active"><a href="../../index.html">主页</a></li>
                <li><a href="#">热门</a></li>
                <li>
                  <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i class="glyphicon glyphicon-search"></i></a>
                </li>
              </ul>
              <form class="navbar-form navbar-left navbar-search-form" role="search">                  
                  <div class="form-group">
                      <input type="text" value="" class="form-control" placeholder="Search...">
                  </div> 
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;userName</a></li>                                
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </div>
    </div> <!-- end navBar -->
    
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="river-storycontainer">
              <a href="#"><h4><i class="glyphicon glyphicon-user"></i>&nbsp;userName</h4></a>
              <div class="river-date"><i class="glyphicon glyphicon-user"></i><time>&nbsp;2017/11/23 13:25</time></div>
              <div class="river-place"><i class="glyphicon glyphicon-map-marker"></i><span>&nbsp;列支敦士登，瓦杜兹</span></div>
                <p class="river-story">
                    相信一切事物和一切时刻的合理内在联系，相信生活作为整体将永远延续下去，相信最近的东西和最远的东西。<br />
                    人若没有对某种不可摧毁的东西的持续不断的信仰，便不能活下去，而无论这种不可摧毁的东西，还是这种信仰都可能是长期潜伏的。这种潜伏的表达方式之一便是相信一个自己的上帝。<br />
                    假如天堂中应该被摧毁的东西是可摧毁的，那么这就不是关键性的；但假如那是不可摧毁的，那么我们就是生活在一种错误的信仰中了。 <br />
                    一种信仰好比一把砍头的斧头，这样重，又这样轻。<br />
                    在你与世界的斗争中，你要协助世界。<br />
                </p>
                <a href="#"><img class="img-rounded img-responsive river-img" src="../img/storyimg/0000.jpg" alt="story image"/></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="river-card-container">
              <div class="river-card-head">作者信息</div>
              <div class="river-card-section">
                <a href="">
                  <img class="river-user-avatar" src="../img/user-avatar/0000.webp" alt="user" />
                </a>
                <div class="river-user-info">
                  <a href="">
                  <div class="river-user-name">Newbee_Hao
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <i class="glyphicon glyphicon-map-marker"></i>
                  </div>
                  </a>
                  <div class="river-user-descrb">给我幽鬼，不赢砍手！</div>
                </div>
              </div>
              <p class="river-place"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;阿尔及利亚 伊利里亚</p>
              <p class="river-date"><i class="glyphicon glyphicon-calendar"></i>&nbsp;<time>1996/12/21</time></p>
            </div>
            <div class="river-card-container">
              <div class="river-card-head user-male">他的其他故事</div>
              <div class="river-card-head user-female">她的其他故事</div>
              <div class="river-user-stories">
                <a href="">
                <div class="river-story-info">
                  <div class="river-place"><i class="glyphicon glyphicon-map-marker"></i>瑞士 巴塞尔</div>
                  <div class="river-date"><i class="glyphicon glyphicon-calendar"></i>2016/5/23</div>
                  <div class="river-story-collapsed">相信一切事物和一切时刻的合理内在联系，相信生活作为整体将永远延续下去，相信最近的东西和最远的东西。<br />
                    人若没有对某种不可摧毁的东西的持续不断的信仰，便不能活下去，而无论这种不可摧毁的东西，还是这种信仰都可能是长期潜伏的。这种潜伏的表达方式之一便是相信一个自己的上帝。<br />
                    假如天堂中应该被摧毁的东西是可摧毁的，那么这就不是关键性的；但假如那是不可摧毁的，那么我们就是生活在一种错误的信仰中了。 <br />
                    一种信仰好比一把砍头的斧头，这样重，又这样轻。<br />
                    在你与世界的斗争中，你要协助世界。
                  </div>
                </div>
                </a>
              </div>
              <div class="river-user-stories">
                  <a href="">
                  <div class="river-story-info">
                    <div class="river-place"><i class="glyphicon glyphicon-map-marker"></i>瑞士 巴塞尔</div>
                    <div class="river-date"><i class="glyphicon glyphicon-calendar"></i>2016/5/23</div>
                    <div class="river-story-collapsed">相信一切事物和一切时刻的合理内在联系，相信生活作为整体将永远延续下去，相信最近的东西和最远的东西。<br />
                      人若没有对某种不可摧毁的东西的持续不断的信仰，便不能活下去，而无论这种不可摧毁的东西，还是这种信仰都可能是长期潜伏的。这种潜伏的表达方式之一便是相信一个自己的上帝。<br />
                      假如天堂中应该被摧毁的东西是可摧毁的，那么这就不是关键性的；但假如那是不可摧毁的，那么我们就是生活在一种错误的信仰中了。 <br />
                      一种信仰好比一把砍头的斧头，这样重，又这样轻。<br />
                      在你与世界的斗争中，你要协助世界。</div>
                  </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
    <div class="container footer">
      <div class="row">
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&nbsp;River - 2017 &middot; <a href="#">Contact us</a> &middot; <a href="#">License</a></p>
        </footer>
      </div>
    </div>
    <script src="../../jquery/jquery.js"></script>
    <script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/switch.js"></script>
    <script src="../js/river.js"></script>
  </body>
</html>