.river-card-container {
  display: block;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}

.river-card-head {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(224, 224, 224, 0.9);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.river-card-section {
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 20px;
  position: relative;
}

.river-card-title {
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.river-card-container > hr {
  margin: 1.5rem 0 0.5rem 0;
}

.card-flex-container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-iconleft,
.card-iconright {
  padding: 2rem 2rem;
}

.card-iconleft > i {
  color: #ffcf00;
}

.card-iconleft > button:hover,
.card-iconleft > button:focus,
.card-iconleft > button:active {
  color: #ffcf00;
}

.card-iconright > i {
  color: #43d480;
}

.card-iconright > a > button:hover,
.card-iconright > a > button:focus,
.card-iconright > a > button:active {
  color: #43d480;
}